

.hide {
    display: none;
}

header {
    display: flex;
    background: #13293d;
    font-size: 2em;
    padding: 50px;
    justify-content: space-between;
    color: #fff;
}

.high-score , .timer {
    display: inline;
    text-align: center;
    color: #fff;
    background-color: #13293d;
}

#start-block {
    font-size: 3em;
    text-align: center;
    background-color: lightgreen;
}

#quiz-block {
    font-size: 3em;
    text-align: center;
    background-color: lightblue;
}

#score-block {
    font-size: 3em;
    text-align: center;
    background-color: lightcoral;
}